<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849277133401-oba3ptctbhu3loukthjlhht3pprmm126.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849277133401-oba3ptctbhu3loukthjlhht3pprmm126</string>
	<key>API_KEY</key>
	<string>AIzaSyCQTE0HlyOFNelgWyJQkQdNGNP8DgmLYys</string>
	<key>GCM_SENDER_ID</key>
	<string>849277133401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.education</string>
	<key>PROJECT_ID</key>
	<string>education-69b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>education-69b9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849277133401:ios:9993560af64094bd4c8748</string>
	<key>DATABASE_URL</key>
	<string>https://education-69b9a.firebaseio.com</string>
</dict>
</plist>